@font-face {
  font-family: 'D-DINExp';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/D-DINExp.woff2') format('woff2');
  unicode-range: U+0030-0039; /* 范围包括数字 0-9 */
}
@font-face {
  font-family: 'D-DINExp';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/D-DINExp-Bold.woff2') format('woff2');
  unicode-range: U+0030-0039; /* 范围包括数字 0-9 */
}
@font-face {
  font-family: 'D-DINExp';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/D-DINExp-Bold.woff2') format('woff2');
  unicode-range: U+0030-0039; /* 范围包括数字 0-9 */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Poppins-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Poppins-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Poppins-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Noto-Sans-Regular.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Noto-Sans-600.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DM-Sans-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DM-Sans-600.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans';
  font-style: bold;
  font-weight: 800;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DM-Sans-800.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Noto-Sans-SC.woff2') format('woff2');
}
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@font-face {
  font-family: 'KaTeX_AMS';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_AMS-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Caligraphic-Bold.woff2)
    format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Caligraphic-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Fraktur';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Fraktur-Bold.woff2)
    format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Fraktur';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Fraktur-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Main-Bold.woff2)
    format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Main-BoldItalic.woff2)
    format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Main-Italic.woff2)
    format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Main-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Math-BoldItalic.woff2)
    format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Math-Italic.woff2)
    format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_SansSerif-Bold.woff2)
    format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_SansSerif-Italic.woff2)
    format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_SansSerif-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Script';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Script-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size1';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Size1-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size2';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Size2-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size3';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Size3-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size4';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Size4-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Typewriter';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/katex/KaTeX_Typewriter-Regular.woff2)
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
